/**
    Theme Name: dothophunggia
    Theme URI: http://dothophunggia.vn/
    Author: Tiep
    Author URI: http://dothophunggia.vn/
    Description: đồ thờ phùng gia tinh hoa bát tràng.
    Version: 1.0
    License: GNU General Public License v2 or later
    License URI: http://www.gnu.org/licenses/gpl-2.0.html
    Tags: two-columns, left-sidebar, fixed-layout, responsive-layout
    Text Domain: dothophunggia
    Domain Path: /languages/
 */

/* CSS */
@import url('css/font-awesome.min.css');
.clear{clear: both;}
.clear5{clear: both;height: 5px}
.clear10{clear: both;height: 10px;}
.clear15{clear: both;height: 15px}
.clear20{clear: both;height: 20px}
.clear30{clear: both;height: 30px}
body{   /*code chong copy*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
h1,h2,h3,h4,h5,h6{ margin: 0px; padding: 0px; }
a:hover, a:focus, a:active{ text-decoration: none; color: inherit; outline: none; }
input, select, textarea { outline: none; }
ul, li{ list-style: outside none none; padding: 0;margin: 0; }
.fw{ float: left; width: 100%; }
.stick{ position: fixed; z-index: 999; }
.container { width: 1220px; }
#back-to-top {
    background: #7b1900 none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    bottom: 10px;
    box-shadow: 0 0 18px 2px;
    color: #fff;
    cursor: pointer;
    display: none;
    padding: 10px 14px;
    position: fixed;
    left: 10px;
    z-index: 99;
}
#back-to-top:hover { border: 2px solid #1564bd; }

@font-face{
  font-family: 'trajan';
  src:url('fonts/UTMTrajanProBold.ttf');
}
.display-none {
    display: none;
}

/*iframe*/
/*iframe {
    position: fixed !important;
}
    .fanpage iframe {
        position: relative !important;
    }
    .social-bar iframe {
        position: relative !important;
    }
    .vbox-content iframe {
        position: relative !important;
    }*/

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
    max-width: 100%;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    max-width: 100%;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
    .wp-caption.alignnone {
        margin: 5px 20px 20px 0;
    }
    .wp-caption.alignleft {
        margin: 5px 20px 20px 0;
    }
    .wp-caption.alignright {
        margin: 5px 0 20px 20px;
    }
    .wp-caption img {
        border: 0 none;
        height: auto;
        margin: 0;
        max-width: 98.5%;
        padding: 0;
        width: auto;
    }
    .wp-caption p.wp-caption-text {
        font-size: 11px;
        line-height: 17px;
        margin: 0;
        padding: 0 4px 5px;
    }

/*menu*/
.menubar {
    background: rgba(123, 25, 0, 0.87) none repeat scroll 0 0;
    position: relative;
    z-index: 21;
}
    .menubar a {
        font-family: trajan;
    }
        .menubar li:hover > a {
            color: #c56348 !important;
        }
.main-menu li {
    /*position: relative;*/
}
    /*.main-menu li:hover > .sub-menu {
        display: block;
    }*/
        .main-menu > ul > li {
            float: left;
            position: relative;
            white-space: nowrap;
        }
            .main-menu > ul > li > a {
                color: #ffffff;
                display: block;
                font-size: 14px;
                padding: 15px 18px;
                text-transform: uppercase;
            }
.main-menu .sub-menu:nth-child(2) {
    display: none;
    left: 0;
    position: absolute;
    z-index: 100;
}
    .main-menu .sub-menu:nth-child(2) .sub-menu {
        border-left: 1px solid #86311b;
        left: 100%;
        top: 0;
    }
        .main-menu .sub-menu > li > a {
            background: #7b1900 none repeat scroll 0 0;
            border-top: 1px solid #86311b;
            color: #ffffff;
            display: block;
            font-family: open sans;
            font-size: 15px;
            font-weight: 600;
            padding: 10px 40px 10px 20px;
        }
.main-menu .current-menu-item > a {
    background: #7b1900 none repeat scroll 0 0;
}

/*header*/
.header {
    position: relative;
}
    .logo {
        left: 14%;
        position: absolute;
        top: 0;
        z-index: 22;
    }
    .header-top {
        background: #4e1702 none repeat scroll 0 0;
        padding: 15px 0;
    }
        .header-top span {
            font-size: 15px;
        }
.header-info, .main-menu {
    float: right;
    width: 77%;
}
    .header-info a:focus {
        color: #ffffff;
    }
    .header-info a:hover {
        color: #ffffff;
    }
.cskh, .login {
    color: #ffffff;
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}
.search-box, .cskh, .login, .shopcart {
    border: 1px solid #7c2c17;
    display: block;
    float: left;
    margin-right: 15px;
}
.cskh {
    background: rgba(0, 0, 0, 0) url("images/icon/phone.png") no-repeat scroll 7% center;
    padding: 8px 10px 11px 50px;
}
    .cskh .cskh-phone {
        display: block;
    }
        .cskh .cskh-phone span:nth-child(1) {
            font-size: 11px;
            margin-right: 10px;
        }
    .cskh .cskh-time, .login .cskh-time, .cskh .cskh-time2 {
        font-size: 11px;
        font-style: italic;
        text-transform: none;
    }
    .cskh .cskh-time2 {
        display: none;
    }
.login {
    background: rgba(0, 0, 0, 0) url("images/icon/login.png") no-repeat scroll 7% center;
    padding: 12px 20px 13px 50px;
}
    .login span {
        font-size: 11px;
        display: block;
    }
    .login a {
        color: #ffffff;
    }
.search-box {
    border: medium none;
    padding: 14px 0;
}
    .search-box form {
        position: relative;
    }
        .search-box form input:nth-child(1) {
            background: #7e2d18 none repeat scroll 0 0;
            border: medium none;
            color: #b84747;
            font-style: italic;
            margin-left: 20px;
            outline: medium none;
            padding: 5px 20px 5px 15px;
        }
.search-box form input::-webkit-input-placeholder, .pop-search-box form input::-webkit-input-placeholder {
   color: #b84747;
}
.search-box form input::-moz-placeholder, .pop-search-box form input::-moz-placeholder {
   color: #b84747;  
}
.search-box form input::-ms-input-placeholder, .pop-search-box form input::-ms-input-placeholder {  
   color: #b84747;  
}
        .search-box form .search-icon {
            background: rgba(0, 0, 0, 0) url("images/icon/search.png") no-repeat scroll center center;
            border: medium none;
            padding: 16px 13px 13px;
            position: absolute;
            right: 0;
            top: 0;
        }
.shopcart {
    background: rgba(0, 0, 0, 0) url("images/icon/cart.png") no-repeat scroll 5% center;
    border: medium none;
    color: #c7c7c7;
    font-family: open sans;
    font-size: 10px;
    font-weight: normal;
    margin-right: 0;
    padding: 13px 0 11px 39px;
    position: relative;
    text-transform: uppercase;
}
    .shopcart span {
        font-size: 10px;
    }
    .shopcart span span {
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
    }
.shopcart-mobile {
    display: none;
}
.fix-search-mobile {
    background: rgba(0, 0, 0, 0) url("images/icon/search.png") no-repeat scroll center center;
    border: 1px solid #7c2c17;
    cursor: pointer;
    display: none;
    height: 30px;
    margin-top: 8px;
    padding: 5px 15px;
}


/*banner*/
.banner-home .banner:nth-child(1) {
    margin-top: -50px;
}
.banner {
    border-bottom: 5px solid #931901;
    position: relative;
    z-index: -1;
}
.banner img {
    width: 100%;
}
.banner-content {
    color: #ffffff;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 17%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.banner-title {
    font-family: trajan;
    font-size: 45px;
    margin-bottom: 4%;
}
.banner-desc {
    font-family: open sans;
    font-size: 16px;
    font-weight: 600;
    white-space: normal;
}
.banner-plush {
    background: #7e2d18 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-family: open sans;
    font-size: 16px;
    font-weight: bold;
    margin: 4% auto 0;
    padding: 10px 0;
    text-transform: uppercase;
    width: 150px;
}


.banner2 {
    margin-top: -50px;
    position: relative;
}
.banner2 .banner-content {
    top: 34%;
}
.banner2 .fa {
    color: #ffffff;
    font-size: 60px;
}
.banner2 .owl-prev {
    left: 6%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.banner2 .owl-next {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
}
.banner-title a {
    color: #ffffff;
}

/*news*/
.title {
    background: #f3f3f3 none repeat scroll 0 0;
    margin: 30px 0;
    position: relative;
}
    .title a:nth-child(1) {
        background: #931901 none repeat scroll 0 0;
        color: #ffffff;
        display: inline-block;
        font-family: open sans;
        font-size: 15px;
        font-weight: 700;
        padding: 14px 20px;
        position: relative;
        text-transform: uppercase;
    }
        .title a:nth-child(1)::after {
            border-bottom: 22px solid transparent;
            border-left: 24px solid #931901;
            border-top: 22px solid transparent;
            content: "";
            height: 0;
            left: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
        }
.n-title a {
    color: #303030;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 5px;
    text-align: justify;
}
.n-items article {
    float: left;
    margin: 0 0 10px;
}
    .n-items article:nth-child(4n+1) {
        margin-left: 0;
    }
    .n-items article:nth-child(4n) {
        margin-right: 0;
    }
    .n-items figure {
        max-height: 182px;
        max-width: 280px;
        overflow: hidden;
    }
.news-highlight .owl-prev {
    position: absolute;
    right: 30px;
    top: -68px;
}
.news-highlight .owl-next {
    position: absolute;
    right: 10px;
    top: -68px;
}
.news-highlight .fa {
    color: #931901;
    font-size: 30px;
}
.news-highlight article .n-title a {
    height: 67px;
    overflow: hidden;
}

/*hieu ung*/
.news-highlight article img:hover, .news-related article img:hover, .news-list article img:hover {
    filter: brightness(1.2);
}
.sidebar article img:hover, .product-list-detail article img:hover, .product-list article img:hover, .product-related article img:hover {
    filter: brightness(1.2);
    transform: scale(1.2, 1.2);
}
.sidebar article img, .product-list-detail article img, .product-list article img, .product-related article img {
    transition: all 1s ease 0s;
}

/*system*/
.system {
    background: rgba(0, 0, 0, 0) url("images/img/bg-system.jpg") repeat-x scroll center center;
    padding: 20px 0 70px;
}
    .system-title {
        text-align: center;
    }
        .system-title a {
            border-bottom: 1px solid #ffffff;
            color: #ffffff;
            display: inline-block;
            font-family: trajan;
            font-size: 39px;
            margin-bottom: 70px;
            padding: 20px 50px;
            text-transform: uppercase;
        }
.domain {
    color: #ffffff;
    float: left;
    font-family: open sans;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    width: 20%;
}
.system-address, .system-address2 {
    color: #ffffff;
    float: left;
    font-family: open sans;
    font-size: 14px;
    padding-left: 40px;
    width: 40%;
}
.s-map a {
    color: #f24c4c;
}
.s-title {
    font-weight: 600;
}
.s-desc span {
    display: block;
}
    .s-desc span a {
        color: #ffffff;
    }

/*footer*/
footer {
    background: rgba(0, 0, 0, 0) url("images/img/bg-footer.jpg") repeat-x scroll center center;
    display: inline-block;
    width: 100%;
}
.footer-left {
    float: left;
    font-family: open sans;
    font-weight: 300;
    width: 66%;
}
.fanpage {
    display: inline-flex;
    float: left;
    height: 261px;
    overflow: hidden;
    padding: 47px 0 0 48px;
    width: 34%;
}
.footer-info {
    float: left;
    width: 64%;
}
.f-title {
    color: #ffffff;
    display: block;
    font-family: trajan;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer-menu {
    float: right;
}
    .footer-menu a:hover, .copyright a:hover, .footer-info a:hover, .s-desc a:hover, .contact-desc a:hover {
        color: #7b1900;
    }
    .footer-menu div:nth-child(1) {
        color: #ffffff;
        display: inline-block;
        font-size: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        margin-top: 5px;
    }
    .footer-menu ul li a, .f-desc span, .f-desc span a {
        color: #c8c8c8;
        display: inline-block;
        font-size: 15px;
    }
    .f-desc span {
        display: block;
    }
.footer-top {
    padding: 30px 0;
}
.footer-bottom {
    padding: 25px 0;
}
.socical {
    float: left;
}
    .socical .fa {
        color: #ffffff;
        font-size: 22px;
        margin-right: 20px;
    }
        .socical .fa:hover {
            color: #7b1900;
        }
.copyright {
    color: #949494;
    font-size: 12px;
    float: right;
    padding: 3px 0;
}
    .copyright a {
        color: #ffffff;
    }

/*dssp*/
.product-list {
    padding-bottom: 30px;
    position: relative;
}
.product-list-content .title a {
    padding-left: 44px;
}
    .product-list-content .title a:nth-child(1)::before {
        content: url("images/icon/product.png");
        left: 15px;
        position: absolute;
        top: 13px;
    }
.product-list-detail-content .title a {
    padding-left: 44px;
}
    .product-list-detail-content .title a:nth-child(1)::before {
        content: url("images/icon/product.png");
        left: 15px;
        position: absolute;
        top: 12px;
    }
.product-list-content article {
    border: 1px solid #cccccc;
    float: left;
    padding: 15px 11px;
}
.p-group figure {
    max-height: 130px;
    max-width: 195px;
    overflow: hidden;
    margin: auto;
}
.p-title a {
    color: #000000;
    display: block;
    font-family: open sans;
    font-size: 14.5px;
    font-weight: 600;
    height: 61px;
    line-height: 1.4;
    margin: 20px 0 15px;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}
    .title a:nth-child(2) {
        color: #931901;
        font-family: open sans;
        font-size: 15px;
        position: absolute;
        right: 1.6%;
        text-decoration: underline;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 600;
    }
.p-price {
    color: #9d2029;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    overflow: hidden;
    padding: 5px 0;
    text-align: center;
}
    .p-price .sale {
        background: rgba(0, 0, 0, 0) url("images/icon/sale.png") no-repeat scroll 0 0;
        float: left;
        margin-bottom: 4px;
        margin-top: 4px;
        padding: 20px;
    }

    /**//**/
    .product-list article, .product-list-detail article, .product-related article {
        margin-bottom: 1px;
        position: relative;
        width: 100%;
    }
    .p-price .sale-number {
        background: rgba(0, 0, 0, 0) url("images/icon/sale.png") no-repeat scroll 0 0 / cover ;
        color: #ffffff;
        font-size: 13px;
        line-height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
    }
    /**//**/
    .p-price .no-sale {
        background: rgba(0, 0, 0, 0) url("images/icon/no-sale.png") no-repeat scroll 0 0;
        float: left;
        margin-top: 4px;
        padding: 20px;
    }
    .p-price .price-old {
        color: #707070;
        font-size: 13.85px;
        font-weight: normal;
        text-align: center;
        text-decoration: line-through;
    }
    .p-price .price-news {
        color: #9d2029;
        font-size: 17px;
        text-align: center;
    }
        .p-price .price-news span {
            font-weight: bold;
        }
                    .p-price .price-old, .p-price .price-news {
                        line-height: normal;
                    }

/*lien-he*/
.contact {
    padding: 40px 0;
}
.contact-logo {
    text-align: center;
}
.contact-title {
    color: #cf2029;
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0 35px;
    text-align: center;
    text-transform: uppercase;
}
.contact-desc {
    margin-bottom: 80px;
}
    .contact-desc span {
        color: #373737;
        display: block;
        font-size: 16px;
        line-height: 2;
        text-align: center;
    }
    .contact-desc a {
        color: #373737;
    }
.form-info {
    float: left;
    padding: 0 60px 0 40px;
    width: 35%;
}
    .form-info input {
        border: none;
        border-bottom: 1px solid #cccccc;
        color: #000000;
        font-size: 19px;
        line-height: 2.6;
        width: 100%;
        outline: none;
    }
.form-info input::-webkit-input-placeholder {
   color: #212121;
}
.form-info input::-moz-placeholder {
   color: #212121;  
}
.form-info input::-ms-input-placeholder {  
   color: #212121;  
}

.form-contact {
    float: left;
    line-height: 3;
    padding-right: 60px;
    padding-top: 11px;
    width: 45%;
}
    .form-contact textarea {
        background: rgba(0, 0, 0, 0) url("images/img/bg-contact.jpg") repeat-y scroll left top;
        border: medium none;
        color: #000000;
        font-size: 19px;
        height: 170px;
        line-height: 1.8;
        margin-top: 10px;
        width: 100%;
        outline: none;
    }
        .form-contact textarea::-webkit-input-placeholder {
           color: #212121;
        }
        .form-contact textarea::-moz-placeholder {
           color: #212121;  
        }
        .form-contact textarea::-ms-input-placeholder {  
           color: #212121;  
        }
.submit {
    background: rgba(0, 0, 0, 0) url("images/icon/fly.png") no-repeat scroll center 30%;
    border: 1px solid #cf2029;
    color: #cf2029;
    float: left;
    font-size: 22px;
    margin-top: 52px;
    padding: 52px 55px 20px;
    position: relative;
    z-index: 22;
}
.wpcf7-validation-errors, .wpcf7-mail-sent-ok {
    border: medium none !important;
    margin-left: 40px !important;
    margin-right: 50px !important;
    margin-top: 250px !important;
    padding-left: 0 !important;
}

/*dstin*/
.breadcrumbs {
    background: #f3f3f3 none repeat scroll 0 0;
    margin: 30px 0;
}
    .breadcrumbs .fa-home {
        color: #ffffff;
        margin-left: -10px;
    }
    .breadcrumbs strong, .breadcrumbs span a {
        color: #ffffff;
        margin: 0 10px;
    }
    .breadcrumbs span {
        color: #ffffff;
        font-family: open sans;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
        .breadcrumbs > span:nth-child(1) {
            background: #931901 none repeat scroll 0 0;
            display: inline-block;
            padding: 12px 20px;
            position: relative;
        }
            .breadcrumbs > span:nth-child(1)::after {
                border-bottom: 22px solid transparent;
                border-left: 24px solid #931901;
                border-top: 22px solid transparent;
                content: "";
                height: 0;
                left: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 0;
            }
            .product-detail-content .breadcrumbs > span:nth-child(1)::after, .news-detail-content .breadcrumbs span:nth-child(1)::after {
                border-bottom: 32px solid transparent;
                border-left: 24px solid #931901;
                border-top: 32px solid transparent;
            }
.n-p {
    position: relative;
}
    .n-p img {
        width: 100%;
    }
    .n-p figure {
        max-height: 182px;
        max-width: 280px;
        overflow: hidden;
    }
.news-list-content .n-desc {
    display: none;
}
.news-list-content .n-items .n-title {
    font-size: 15px;
    font-weight: bold;
}
    .news-list-content article {
        float: left;
        margin: 0 1.1% 20px;
        width: 23.3%;
    }
    .news-list-content article:nth-child(1) {
        float: left;
        margin-left: 0;
        margin-right: 1%;
        width: 49%;
    }
        .news-list-content article:nth-child(1) figure {
            max-height: 389px;
            max-width: 588px;
            overflow: hidden;
        }
            .news-list-content article:nth-child(1) figure::before {
                background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.45) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0;
                bottom: 0;
                content: "";
                height: 50%;
                left: 0;
                position: absolute;
                width: 100%;
            }
        .news-list-content article:nth-child(1) img {
            max-height: 389px;
            max-width: 588px;
            overflow: hidden;
            width: 100%;
        }
        .news-list-content article:nth-child(1) .n-title a {
            bottom: 0;
            color: #ffffff;
            display: inline-block;
            font-size: 19px;
            overflow: hidden;
            padding: 10px 35px;
            position: absolute;
            text-transform: capitalize;
            width: 100%;
        }
        .news-list-content article:nth-child(1) .n-desc {
            display: block;
            font-family: open sans;
            font-size: 15px;
            font-weight: 600;
            margin-top: 18px;
            text-align: justify;
        }
            .news-list-content article:nth-child(1) .n-desc span {
                color: #931901;
                float: left;
            }

/*cttin*/
.news-detail-content {
    float: left;
    width: 66%;
}
.news-detail-info .n-title a {
    color: #931901;
    font-size: 27px;
    font-weight: 600;
}
    .news-detail-info img {
        height: 100%;
        width: 100%;
    }
.share {
    border-bottom: 2px dashed #cccccc;
    border-top: 2px dashed #cccccc;
    color: #888888;
    display: inline-block;
    font-size: 13px;
    margin: 25px 0 35px;
    padding: 15px 0 10px;
    width: 100%;
}
.news-detail-date {
    float: left;
    margin-right: 40px;
}
.news-detail-view {
    float: left;
}
.news-related-title {
    background: rgba(0, 0, 0, 0) url("images/icon/gach.jpg") repeat-x scroll left 80%;
    margin: 45px 45px 40px 0;
}
    .news-related-title a {
        background: #ffffff none repeat scroll 0 0;
        color: #931901;
        font-size: 18px;
        font-weight: bold;
        padding-right: 10px;
    }
.news-related article {
    display: inline-block;
    float: none;
    margin: 0 0 30px;
    padding-right: 50px;
    width: 100%;
}
    .news-related article > figure {
        float: left;
        margin-right: 15px;
        max-height: 75px;
        max-width: 120px;
    }
    .news-related .n-title a {
        color: #3e3e3e;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
        margin-top: -4px;
    }
    .news-related .n-date {
        color: #9f9f9f;
        font-size: 12px;
        padding-left: 135px;
    }
    .news-related .owl-prev {
        position: absolute;
        right: 20px;
        top: -58px;
    }
    .news-related .owl-next {
        position: absolute;
        right: 0;
        top: -58px;
    }
    .news-related .fa {
        border: 1px solid #cccccc;
        border-radius: 50%;
        color: #cccccc;
        padding: 0 5px;
    }

/*sidebar*/
.sidebar {
    float: left;
    padding-left: 50px;
    width: 34%;
}
    .sidebar .p-title a{
        margin-top: -3px;
        text-align: left;
    }
    .sidebar .p-price-old {
        margin: 0 0 5px;
    }
    .sidebar .p-price-new, .sidebar .p-price-old {
        padding-left: 0;
    }
    .sidebar figure {
        max-height: 130px;
        max-width: 195px;
        overflow: hidden;
    }
    .sidebar article {
        display: inline-block;
        margin-bottom: 40px;
        margin-top: 0;
        width: 100%;
    }
        .sidebar article figure {
            float: left;
            margin-right: 19px;
        }
    .sidebar img {
        width: 100%;
    }
    /*.sidebar .owl-prev {
        position: absolute;
        right: 30px;
        top: -68px;
    }
    .sidebar .owl-next {
        position: absolute;
        right: 10px;
        top: -68px;
    }
    .sidebar .fa {
        color: #931901;
        font-size: 30px;
    }*/
.sidebar-product-highlight .p-title a {
    margin-top: -4px;
}

/*ctsp*/
.product-detail {
    padding-bottom: 30px;
}
.product-detail-content {
    float: left;
    width: 66%;
}
    .product-detail-content article {
        border: 1px solid #cccccc;
        float: left;
        padding: 15px 11px;
    }
.sidebar-news-highlight article {
    margin: 0 0 40px;
    width: 100%;
}
    .sidebar-news-highlight .n-title a{
        color: #222222;
        font-size: 14px;
        font-weight: bold;
        margin: -4px 0 20px;
        text-transform: capitalize;
    }
.n-date {
    color: #515151;
    font-size: 15px;
}
.product-related .owl-prev {
    position: absolute;
    right: 30px;
    top: -68px;
}
.product-related .owl-next {
    position: absolute;
    right: 10px;
    top: -68px;
}
.product-related .fa {
    color: #931901;
    font-size: 30px;
}
.product-detail-info .p-title a {
    color: #931901;
    font-size: 22px;
    height: auto;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
}

.p-img {
    float: left;
    width: 52%;
}
    .p-img figure img {
        max-height: 280px;
        max-width: 412px;
        overflow: hidden;
        width: 100%;
    }
.p-detail-info {
    float: left;
    padding-left: 17px;
    width: 48%;
}
.p-thumbs ul li {
    margin-top: 10px;
}
    .p-thumbs img {
        max-height: 75px;
        max-width: 120px;
        overflow: hidden;
        width: 100%;
    }
    .p-thumbs ul li:nth-child(3) {
        margin-right: 0;
    }
.p-detail-form {
    color: #585858;
    font-size: 16px;
}
    .p-detail-form span:nth-child(2) {
        margin-right: 15px;
    }
    .p-detail-form span:nth-child(1) {
        color: #585858;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 11px;
        width: 33%;
    }
.season {
    background: #dedede none repeat scroll 0 0;
    display: inline-block;
    width: 100%;
}
    .season .add-to-cart {
        background: #931901 url("images/icon/cart-product.png") no-repeat scroll center 30%;
        color: #ffffff;
        float: right;
        font-size: 16px;
        font-weight: bold;
        padding: 50px 15px 10px;
    }
    .season .p-price {
        float: left;
        font-size: 25px;
        line-height: 54px;
        margin: 3% 0 2% 10%;
    }
        .season .p-price .price-old span {
            margin-bottom: -12px;
            margin-top: 0;
        }
    .season .price-old {
        color: #939393;
        font-size: 18px;
    }
    .season .price-news {
        font-size: 25px;
    }
.vat {
    color: #919191;
    font-size: 13px;
    margin: 10px 0 25px;
}
    .vat span {
        color: #919191;
        display: block;
        font-size: 13px;
    }
.p-info {
    color: #585858;
    font-size: 15px;
}
    .p-info .p-excerpt {
        margin: 35px 0 20px;
    }
.technical-title, .introduce-title {
    font-weight: bold;
}

/*ds sp*/
.product-list-detail-content article {
    border: 1px solid #cccccc;
    float: left;
    margin: 0 1% 30px;
    padding: 15px 11px;
}
.product-list-detail-content .p-group {
    margin-left: -1%;
    margin-right: -1%;
}

/*map*/
#map {
    display: inline-block;
    height: 455px !important;
    margin-top: -50px;
    width: 100%;
}

/*LOGIN MODAL*/
/*#loginModal {
  z-index: 9999;
}
#loginModel .modal-dialog{
  margin-top: 100px !important;
}
.menu-login{
  text-align: right;
}
.form-inline .form-group{
  margin-bottom: 20px;
  float: right;
}
.has-error {
  color: red;
  font-size: 12px;
  margin: 5px 0;
}
.bt-login,.bt-login:hover, .bt-login:active, .bt-login:focus {
  background-color: #7b1900;
  color: #ffffff;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: background-color 300ms linear 0s;
}
.login-tab {
  margin: 0 auto;
  max-width: 380px;
}
.login-modal-header {
  background: #7b1900;
  color: #fff;
}
.login-modal-header .modal-title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.login-modal-header .close {
  color: #fff;
}
.close span {
  font-size: 22px;
}
.login-modal i {
  color: #000;
}
.login-modal form {
  max-width: 340px;
}
.tab-pane form {
  margin: 0 auto;
}
.login-modal-footer{
  margin-top:15px;
  margin-bottom:15px;
}*/

/*navi*/
.navigation {
    clear: both;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
}
    .navigation span.pages{
        display: none;
    }
    .navigation span, .navigation a {
        background-color: #9d2029;
        border: medium none;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        line-height: 30px;
        margin: 0 5px;
        min-width: 36px;
        text-align: center;
    }
        .navigation span.pages {
            font-weight: bold;
            padding: 0 10px;
        }
        .navigation a:hover, .navigation .current {
            background: red none repeat scroll 0 0;
            color: #fff;
            display: inline-block;
            font-weight: bold;
            margin-top: 1px;
        }
.contactsky {
    color: #9d2029;
    position: relative !important;
    text-transform: uppercase;
}

/*dung do tho*/
#danhmuc, #danhmuccon {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #999999;
    width: 600px;
}
.select-success img, .cart-detail img {
    width: 50px;
}
.select-title {
    float: left;
    font-weight: bold;
    padding: 5px 30px 5px 0;
    text-align: right;
    text-transform: uppercase;
    width: 240px;
}
.select-title-tick, .cart-title {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.select-product {
    margin-bottom: 50px;
    margin-top: 10px;
}
    .select-product .add-to-cart {
        margin-left: 20px;
        width: 60px;
    }
.build-content select {
    height: 30px;
    padding-left: 5px;
}
    .build-content select option {
        padding: 3px 7px 4px;
    }
    .build-content select option:hover {
        background: #3875d7 none repeat scroll 0 0 !important;
        color: #cccccc !important;
    }
table td {
    vertical-align: inherit !important;
}
.link-continue {
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
    .link-continue .fa-chevron-left {
        margin-right: 10px;
    }
    .link-continue .fa-chevron-right {
        margin-left: 10px;
    }
.link-continue .disabled {
    color: #000000;
}

/*checkout*/
.info-customer {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
    .info-customer .cart-title {
      display: block;
      margin-bottom: 30px;
    }
.formbox .form-group {
    float: left;
    width: 48%;
}
    .formbox .form-group > label {
        float: left;
        width: 25%;
    }
        .formbox .form-group > .input-text {
            border: 1px solid #a2a2a2;
            float: left;
            font-size: 15px;
            padding: 5px;
            width: 75%;
        }
.ajaxLoad {
    background: rgba(0, 0, 0, 0) url("images/loading.gif") no-repeat scroll center center;
    display: none;
    height: 150px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%);
    width: 150px;
    z-index: 99999;
}
.btn-primary, .btn-success {
    margin-left: 30px;
    background: #931901;
    border: medium none;
    margin-bottom: 5px;
    color: #ffffff;
}
    .btn-primary:hover, .btn-success:hover, .btn-primary:focus, .btn-success:focus, .btn-primary:active, .btn-success:active {
        background: #931901 !important;
        color: #ffffff !important;
    }
.input-num {
  border: 1px solid #a2a2a2;
  padding: 5px 0;
  width: 50px;
}
.tks {
    line-height: 3;
}
.back-home {
    margin: 20px 0 40px;
}

/*popup mobile*/
.popup-plush {
    background: #7b1900 none repeat scroll 0 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    bottom: 70px;
    box-shadow: 0 0 18px 2px;
    color: #ffffff;
    cursor: pointer;
    padding: 12px 15px 10px;
    position: fixed;
    right: 10px;
    z-index: 99;
}
.popup-content {
    background: #4e1702 none repeat scroll 0 0;
    border-radius: 5%;
    bottom: 130px;
    display: inline-block;
    padding: 5px 20px 15px;
    position: fixed;
    right: 10px;
    display: none;
    width: 200px;
    z-index: 99;
}
    .popup-content a {
        float: left;
        width: 100%;
    }
        .popup-content a:hover {
            color: #c56348;
        }   
        .popup-content a:active, .popup-content a:focus {
            color: #ffffff;
        }
.pop-search-box {
    float: left;
    width: 100%;
    margin-top: 10px;
}
    .pop-search-box .search-icon {
        background: rgba(0, 0, 0, 0) url("images/icon/search.png") no-repeat scroll center center;
        border: medium none;
        padding: 15px;
        position: absolute;
        right: 0;
        top: 0;
    }
    .pop-search-box form {
        position: relative;
    }
        .pop-search-box form input {
            background: #7e2d18 none repeat scroll 0 0;
            border: medium none;
            color: #b84747;
            font-style: italic;
            padding: 5px 0 5px 10px;
            width: 100%;
            border-radius: 5px;
        }
.pop-login {
    background: rgba(0, 0, 0, 0) url("images/icon/login.png") no-repeat scroll right center;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
}
.pop-money, .pop-cskh {
    background: rgba(0, 0, 0, 0) url("images/icon/phone.png") no-repeat scroll right center;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 0;
    text-transform: uppercase;
}

/*error*/
.update-loading {
    color: #931901;
    font-weight: 500;
}

/*page search*/
.search-results .n-title a {
    color: #9d2029;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}
    .search-page img {
        float: left;
        margin-right: 15px;
        max-height: 100px;
        max-width: 150px;
        overflow: hidden;
        width: 100%;
    }
    .search-page article {
        float: left;
        margin-bottom: 20px;
        padding-right: 20px;
        width: 50%;
    }
    .search-page article .n-title a {
        font-size: 15px;
        margin-top: -2px;
        text-align: left;
    }
    .search-page article:nth-child(2n+1) {
        clear: both;
    }

/*page gioi thieu*/
.page-content img {
    height: 100%;
    max-width: 100%;
}

/*search select*/
.select-product-group {
    margin: 20px 0;
}
    #content .btn-primary {
        margin: 0 0 20px;
    }
    .footer-bar {
        display: block;
        width: 100%;
        height: 45px;
        line-height: 45px;
        background: #111;
        border-top: 1px solid #E62600;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .footer-bar .article-wrapper {
        font-family: arial, sans-serif;
        font-size: 14px;
        color: #888;
        float: left;
        margin-left: 10%;
    }
    .footer-bar .article-link a, .footer-bar .article-link a:visited {
        text-decoration: none;
        color: #fff;
    }
    .site-link a, .site-link a:visited {
        color: #888;
        font-size: 14px;
        font-family: arial, sans-serif;
        float: right;
        margin-right: 10%;
        text-decoration: none;
    }
    .site-link a:hover {
        color: #E62600;
    }

/*search select*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    zoom: 1;
    width: 600px !important;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
  -webkit-box-sizing: border-box; /* webkit */
     -moz-box-sizing: border-box; /* firefox */
          box-sizing: border-box; /* css3 */
}
.select2-container .select2-choice {
    width: 600px;
    display: block;
    padding: 0 0 0 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    color: #333;
    text-decoration: none;
    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #fff;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;
    border-radius: 0 0 4px 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: none;
    width: auto;
}
.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 1px;
    text-decoration: none;
    border: 0;
    background: url('images/select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}
.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}
.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 9998;
    background-color: #fff;
    filter: alpha(opacity=0);
}
.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9998;
    top: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;
}
.select2-drop.select2-drop-above {
    width: 600px !important;
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
            box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}
.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}
.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}
.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 15px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
    background-clip: padding-box;
    background: #ccc;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 20%);
    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 20%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0);
    background-image: linear-gradient(to top, #ccc 0%, #eee 20%);
}
.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('images/select2.png') no-repeat 0 1px;
}
.select2-search {
    display: inline-block;
    margin: 7px 0 0;
    min-height: 26px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}
.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    margin: 0;
    outline: 0;
    font-family: sans-serif;
    font-size: 1em;
    border: 1px solid #aaa;
    border-radius: 0;
    padding-left: 6px;

    -webkit-box-shadow: none;
            box-shadow: none;

    background: #fff url('images/select2.png') no-repeat 100% -22px;
}
.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
    outline: none;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}
.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}
.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/* results */
.select2-results {
    max-height: 215px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label { padding-left: 20px }
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 40px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 60px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 80px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 100px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 110px }
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label { padding-left: 120px }

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}
.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}
.select2-results li em {
    background: #feffde;
    font-style: normal;
}
.select2-results .select2-highlighted em {
    background: transparent;
}
.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-selected {
    display: none;
}
.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}
/* multiselect */
.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
    min-height: 26px;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}
.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
html[dir="rtl"] .select2-container-multi .select2-choices li {
    float: right;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;
    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent !important;
}
.select2-default {
    color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin-left: 0;
    margin-right: 5px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}
.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 4px;
    font-size: 1px;
    outline: none;
    background: url('images/select2.png') right top no-repeat;
}
html[dir="rtl"] .select2-search-choice-close {
    right: auto;
    left: 3px;
}
.select2-container-multi .select2-search-choice-close {
    left: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {    display: none;
    background: none;
}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}
.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}
.select2-display-none {
    display: none;
}
.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}


/*Responsive*/
@media screen and (max-width:1366px){
    
}
@media screen and (min-width:1221px) and (max-width:1365px){/*col-md*/
    
}
@media screen and (max-width:1300px){
    /*header*/
    .logo {
        left: 0 !important;
    }
    .header-info, .main-menu {
        width: 87%;
    }
    #flake {
        display: none;
    }
}
@media screen and (max-width:1220px){/*col-lg*/
    .container {
      width: 100%;
    }
    /*ctsp*/
    .season .p-price {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .season .add-to-cart {
        background-position: 35% center;
        padding: 10px 0 10px 50px;
        text-align: center;
        width: 100%;
    }
}
@media screen and (min-width:1024px) and (max-width:1219px){/*col-md*/
    /*footer*/
    .fanpage {
        padding: 47px 0 0 10px;
    }
}
@media screen and (max-width:1219px){
    /*footer*/
    .system {
        background: #9c1117 none repeat scroll 0 0;
        padding: 10px 0 40px;
    }
    footer {
        background: #616568 none repeat scroll 0 0;
    }
    .system-title a {
        margin-bottom: 40px;
    }
}
@media screen and (max-width:1184px){
    /*footer*/
    .footer-top {
        padding :40px 0 0;
    }
    /*checkout*/
    .checkout label {
        width: 100% !important;
    }
    .formbox .form-group > .input-text {
        width: 100%;
    }
    /*responsive table*/
    .cart-product-list {
        overflow: auto;
    }
    .checkout .table {
        width: 906px;
    }
    .table {
        display: inline-block;
        max-width: inherit;
        width: 1115px;
    }
}
@media screen and (max-width:1100px){
    /*banner slide*/
    .banner, .banner2, #map {
        margin-top: 0;
    }
    .menubar {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    }
    .banner-home .banner:nth-child(1) {
        margin-top: 0;
    }
    /*header*/
    .header-info {
        float: none;
        margin: auto;
        width: 650px;
    }
    .login {
        display: none;
    }
    .logo {
        z-index: 22;
    }
        .logo img {
            max-width: 88px !important;
        }
    .stick {
        position: relative;
        z-index: 999;
    }
}
@media screen and (max-width:1023px){
    /*footer*/
    .footer-left {
        width: 100%;
    }
    /*.fanpage {
        display: inline-block;
        height: 250px;
        margin-bottom: 50px;
        text-align: center;
        padding: 30px 0 0;
        width: 100%;
    }*/
    .fanpage {
        display: none;
    }
    .f-title a {
        font-size: 23px;
    }
    /*sidebar news*/
    .sidebar figure {
        max-height: 100%;
        max-width: 100%;
    }
    .sidebar article figure {
        float: none;
        margin: 0 auto 15px;
    }
    .sidebar-news-highlight article {
        margin: 0 0 30px;
    }
    .sidebar-news-highlight .n-title a {
        margin: -4px 0 10px;
    }
    /*news-related*/
    .news-related article {
        padding-right: 0;
    }
}
@media screen and (min-width:768px) and (max-width:1023px){/*col-sm*/
    
}
@media screen and (min-width:992px){
    /*product-list-detail-content*/
    .product-list-detail-content article {
        width: 18%;
    }
    .product-list-detail-content article:nth-child(5n+1) {
        clear: both;
    }
}
@media screen and (max-width:992px){
    /*banner slide*/
    .banner2 .banner-content {
        top: 30%;
    }
    .banner-title {
        font-size: 35px;
        margin-bottom: 0;
    }
    .banner-plush {
        font-size: 12px;
        width: 100px;
    }
    /*lien he*/
    .form-info {
        padding-left: 0;
        width: 50%;
    }
    .form-contact {
        padding-right: 0;
        width: 50%;
    }
    .submit {
        float: right;
        margin-right: 0;
        margin-top: 0;
    }
    .wpcf7-validation-errors, .wpcf7-mail-sent-ok {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 100px !important;
    }
    /*sidebar*/
    .sidebar .owl-prev, .sidebar .owl-next {
        display: none !important;
    }
    /*header*/
    .login {
        display: none;
    }
    .header-info {
        width: 620px;
    }
    /*search*/
    .search-page article {
        padding-right: 0;
        width: 100%;
    }
    /*dung do tho*/
    .select-title {
        width: 100%;
        text-align: left;
    }
    .select-product-list .select-title {
        margin-bottom: 7px;
    }
    .build-content form {
        margin: auto;
        width: 600px;
    }
    #content {
        margin: 10px 0;
    }
        #content .btn-primary {
            margin: 20px 0 0;
            width: 100%;
        }
    /*ctsp*/
    .season .add-to-cart {
        background-position: 35% center;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    /*product-list-detail-content*/
    .product-list-detail-content article {
        width: 23%;
    }
    .product-list-detail-content article:nth-child(4n+1) {
        clear: both;
    }
}
@media screen and (max-width:767px){/*col-xs*/
    .sidebar {
        display: none;
    }
    /*banner slide*/
    .banner-content {
        left: 10%;
        top: 20%;
        transform: inherit;
        white-space: normal;
        width: 80%;
    }
    .banner2 .banner-content {
        top: 20%;
    }
    .banner2 .owl-nav {
        display: none;
    }
    .banner-title {
        font-size: 25px;
    }
    .banner-desc {
        font-size: 13px;
    }
    /*system*/
    .domain {
        text-align: center;
        width: 100%;
    }
    .system-address, .system-address2 {
        margin-top: 22px;
        padding-left: 0;
        text-align: center;
        width: 100%;
    }
    .system-title a {
        font-size: 28px;
    }
    /*footer*/
    .footer-info {
        text-align: center;
        width: 100%;
    }
    .footer-menu {
        text-align: center;
        width: 100%;
        float: left;
        margin-top: 30px;
    }
    /*header*/
    .cskh {
        margin-right: 0;
    }
    .header-info {
        display: flex;
        width: 30%;
    }
    .header-top span {
        display: block;
        margin-top: 1.5px;
    }
    .fix-header-mobile {
        display: inline-block;
        float: left;
        width: 177px;
    }
    .shopcart {
        margin: 0 0 0 15px;
    }
    .shopcart span:nth-child(1) {
        display: none;
    }
    .shopcart-mobile {
        background: #7e2d18 none repeat scroll 0 0;
        border-radius: 50%;
        color: #ffffff;
        display: block;
        font-size: 15px !important;
        font-weight: bold;
        line-height: 30px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -5px;
        width: 30px;
    }
    .search-box, .cskh {
        display: block;
    }
    .search-box {
        padding: 0;
        width: 177px;
        margin-right: 0;
    }
    .search-box form input:nth-child(1) {
        margin-left: 0;
    }
    .cskh {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        margin-top: 5px;
        padding: 0;
        width: 177px;
    }
    .shopcart span:nth-child(1) {
        display: none;
    }
    .cskh .cskh-phone {
        display: inline-block;
        float: left;
        margin: 0 10px 0 11px;
    }
    .cskh .cskh-phone span:nth-child(1) {
        display: none;
    }
    .cskh .cskh-time {
        display: none;
    }
    .cskh .cskh-time2 {
        display: inline-block;
        margin-top: 4px;
    }
    .cskh {
        border: medium none;
    }
    .search-box form input:nth-child(1) {
        width: 100%;
    }
    /*ctsp,cttin*/
    .product-detail-content, .news-detail-content {
        width: 100%;
    }
    /*breadcrumb*/
    .breadcrumbs > span:nth-child(1)::after {
        display: none;
    }
    .breadcrumbs > span:nth-child(1) {
        width: 100%;
    }
    .title a:nth-child(1) {
        width: 100%;
    }
    .title a:nth-child(1)::after {
        display: none;
    }
    .title a:nth-child(2) {
        display: none;
    }
    .product-detail-info .p-title a {
        font-size: 18px;
    }
    .news-detail-info .n-title a {
        font-size: 18px;
    }
    /*checkout*/
    .formbox .form-group {
        width: 100%;
    }
}
@media screen and (min-width:550px) and (max-width:767px){
    /*product-list-detail-content*/
    .product-list-detail-content article {
        width: 31.3%;
    }
    .product-list-detail-content article:nth-child(3n+1) {
        clear: both;
    }
}
@media screen and (max-width:650px){
    /*footer*/
    .socical {
        text-align: center;
        width: 100%;
    }
    .copyright {
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
}
@media screen and (min-width:601px){
    /*dstin*/
    .news-list-content article:nth-child(3), .news-list-content article:nth-child(5) {
        margin-right: 0;
    }
    .news-list-content article:nth-child(4n+6) {
        clear: both;
        margin-left: 0;
    }
    .news-list-content article:nth-child(4n+9) {
        margin-right: 0;
    }
}
@media screen and (max-width:600px){
    /*ctsp*/
    .p-img {
        width: 100%;
    }
    .p-detail-info {
        margin-top: 30px;
        padding-left: 0;
        width: 100%;
    }
    .season .add-to-cart {
        background-position: 40% center;
    }
    /*dung do tho*/
    .build-content form, #danhmuc, #danhmuccon {
        width: 400px;
    }
    .select2-container {
        width: 400px !important;
    }
    .select2-container .select2-choice {
        width: 400px;
    }
    /*banner slide*/
    .banner2 .banner-content {
        top: 10%;
    }
}
@media screen and (min-width:480px) and (max-width:600px){
    /*dstin*/
    .news-list-content article {
        margin: 0 1.5% 20px;
        width: 31.3%;
    }
    .news-list-content article:nth-child(1) {
        width: 100%;
    }
    .news-list-content article:nth-child(3n+2) {
        margin-left: 0;
        clear: both;
    }
    .news-list-content article:nth-child(3) {
        margin: 0 1.5%;
    }
    .news-list-content article:nth-child(3n+4) {
        margin-right: 0;
    }
}
@media screen and (max-width:549px){
    /*lien-he*/
    .form-info {
        padding-right: 0;
        width: 100%;
    }
    .form-contact {
        width: 100%;
    }
}
@media screen and (min-width:400px) and (max-width:549px){
    /*product-list-detail-content*/
    .product-list-detail-content article {
        width: 48%;
    }
    .product-list-detail-content article:nth-child(2n+1) {
        clear: both;
    }
}
@media screen and (max-width:480px){
    /*header*/
    .header-info {
        width: 50%;
    }
    /*dstin*/
    .news-list-content article {
        margin: 0 3% 20px;
        width: 47%;
    }
    .news-list-content article:nth-child(1) {
        width: 100%;
    }
    .news-list-content article:nth-child(2n) {
        clear: both;
        margin-left: 0;
    }
    .news-list-content article:nth-child(2n+1) {
        margin-right: 0;
    }
    /*banner-slide*/
    .banner-title {
        font-size: 22px;
    }
    .banner-desc {
        display: none;
    }
    .banner-plush {
        font-size: 10px;
        padding: 5px 0;
        width: 80px;
    }

    .product-list article, .product-related article {
        width: 100%;
    }
    /*dung do tho*/
    .build-content form, #danhmuc, #danhmuccon {
        width: 300px;
    }
    .select2-container {
        width: 300px !important;
    }
    .select2-container .select2-choice {
        width: 300px;
    }
    /*footer*/
    .fix-footer {
        display: block;
    }
}
@media screen and (max-width:399px){
    .p-price {
        font-size: 14px;
    }
    .p-price .price-news {
        font-size: 14px;
    }
    /*product-list-detail-content*/
    .product-list-detail-content article {
        width: 100%;
    }
    /*ctsp*/
    .social-bar {
        float: left;
        width: 100%;
        margin-top: 10px;
    }
    /*ctsp*/
    .season .add-to-cart {
        background-position: 35% center;
    }
    /*banner-slide*/
    .banner-title {
        font-size: 15px;
    }
    /*header*/
    .shopcart {
        margin: 5px 0 0 5px;
    }
    .header-top {
        padding: 23px 0;
    }
    .header-info {
        width: 46%;
    }
    .header-top span {
        font-size: 14px;
    }
    .cskh, .fix-header-mobile, .search-box {
        width: 85px;
    }
        .cskh .cskh-phone {
            margin: 0;
        }
        .cskh .cskh-time2 {
            margin: 0;
        }
    .search-box {
        display: none;
        position: absolute;
        top: 86px;
        width: 66%;
        z-index: 2;
    }
        .fix-search-mobile {
        display: block;
    }
    /*dstin*/
    .news-list-content article:nth-child(1) .n-title a {
        font-size: 15px;
    }
}
@media screen and (max-width:320px){
    /*dstin*/
    .news-list-content article figure img {
        margin: auto;
        text-align: center;
    }
    .news-list-content article {
        margin: 0 auto 20px;
        width: 100%;
    }
    .news-list-content article .n-title a {
        text-align: center;
    }
    .n-p figure {
        max-height: 100%;
        max-width: 100%;
    }
    /*ctsp*/
    .season .add-to-cart {
        background-position: 30% center;
    }
}