
/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}
.mean-container {
    position: absolute;
    right: 10px;
}
/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
    background: #0099d0 none repeat scroll 0 0;
    float: right;
    margin-top: 0px;
    max-width: 480px;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 89;
}
.mean-container a.meanmenu-reveal {
    border: 2px solid #931901;
    color: #931901;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    padding: 0 5px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -9999em;
    top: -64px;
    width: 35px;
    z-index: 9999999;
}
.mean-container a.meanmenu-reveal span {
	display: block;
	background: #931901;
	height: 5px;
	margin-top: 5px;
}
.mean-container .mean-nav {
	float: left;
	width: 100%;
	background: #0099d0;
	margin-top: 0;
}
.mean-container .mean-nav ul {
	padding: 0;
	margin: 0;
	width: 100%;
	list-style-type: none;
}
.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
    background: #931901;
}
.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 90%;
	padding: 0 5%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #383838;
	border-top: 1px solid rgba(255,255,255,0.5);
	text-decoration: none;
	text-transform: uppercase;
    line-height: 42px;
}
.mean-container .mean-nav ul li li a {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    font-family: open sans;
    font-weight: 600;
    padding: 0 10%;
    text-shadow: none !important;
    text-transform: inherit;
    visibility: visible;
    width: 80%;
}
.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}
.mean-container .mean-nav ul li li li a {
	width: 70%;
	padding: 0 15%;
}
.mean-container .mean-nav ul li li li li a {
	width: 60%;
	padding: 0 20%;
}
.mean-container .mean-nav ul li li li li li a {
	width: 50%;
	padding: 0 25%;
}
.mean-container .mean-nav ul li a:hover {
	background: #252525;
	background: rgba(255,255,255,0.1);
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 25px;
	line-height: 18px;
	padding: 9px 12px 15px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}
.mean-container .mean-nav ul li a.mean-expand:hover {
    background: #4e1702 none repeat scroll 0 0;
}
.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}
.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar, .mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.mean-remove {
	display: none !important;
}
