@media screen and (max-width:1366px){

}
@media screen and (min-width:1221px) and (max-width:1365px){/*col-md*/

}
@media screen and (max-width:1300px){
	/*header*/
	.logo {
		left: 0 !important;
	}
	.header-info, .main-menu {
	    width: 87%;
	}
}
@media screen and (max-width:1220px){/*col-lg*/
	.container {
	  width: 100%;
	}
	/*ctsp*/
	.season .p-price {
	    margin: 0;
	    text-align: center;
	    width: 100%;
	}
	.season .add-to-cart {
	    background-position: 35% center;
	    padding: 10px 0 10px 50px;
	    text-align: center;
	    width: 100%;
	}
}
@media screen and (min-width:1024px) and (max-width:1219px){/*col-md*/
	/*footer*/
	.fanpage {
	    padding: 47px 0 0 10px;
	}
}
@media screen and (max-width:1219px){
	/*footer*/
	.system {
	    background: #9c1117 none repeat scroll 0 0;
	}
	footer {
	    background: #616568 none repeat scroll 0 0;
	}
}
@media screen and (max-width:1184px){
	/*footer*/
	.footer-top {
		padding :40px 0 0;
	}
	/*checkout*/
	.checkout label {
	    width: 100% !important;
	}
	.formbox .form-group > .input-text {
	    width: 100%;
	}
	/*responsive table*/
	.cart-product-list {
	    overflow: auto;
	}
	.checkout .table {
		width: 906px;
	}
	.table {
	    display: inline-block;
	    max-width: inherit;
	    width: 1115px;
	}
}
@media screen and (max-width:1100px){
	/*banner slide*/
	.banner, .banner2, #map {
	    margin-top: 0;
	}
	.menubar {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	}
	/*header*/
	.header-info {
	    float: none;
	    margin: auto;
	    width: 650px;
	}
	.search {
		display: none;
	}
	.search-box {
		display: none;
	}
	.logo img {
	    max-width: 88px !important;
	}
	.logo {
	    z-index: 22;
	}
	.stick {
	    position: relative;
	    z-index: 999;
	}
}
@media screen and (max-width:1023px){
	/*footer*/
	.footer-left {
	    width: 100%;
	}
	.fanpage {
	    display: inline-block;
	    height: 250px;
	    margin-bottom: 50px;
	    text-align: center;
	    padding: 30px 0 0;
	    width: 100%;
	}
	.f-title a {
	    font-size: 23px;
	}
	/*sidebar news*/
	.sidebar article figure {
	    float: none;
	    margin: 0 auto 15px;
	}
	.sidebar figure {
	    max-height: 100%;
	    max-width: 100%;
	}
	.sidebar-news-highlight article {
	    margin: 0 0 30px;
	}
	.sidebar-news-highlight .n-title a {
	    margin: -4px 0 10px;
	}
	/*news-related*/
	.news-related article {
	    padding-right: 0;
	}
}
@media screen and (min-width:768px) and (max-width:1023px){/*col-sm*/

}
@media screen and (min-width:992px){
	/*product-list-detail-content*/
	.product-list-detail-content article {
	    width: 18%;
	}
	.product-list-detail-content article:nth-child(5n+1) {
	    clear: both;
	}
}
@media screen and (max-width:992px){
	/*banner slide*/
	.banner2 .banner-content {
	    top: 30%;
	}
	.banner-title {
	    font-size: 35px;
	    margin-bottom: 0;
	}
	.banner-desc {
	    font-size: 13px;
	}
	/*lien he*/
	.form-info {
		padding-left: 0;
	    width: 50%;
	}
	.form-contact {
		padding-right: 0;
	    width: 50%;
	}
	.submit {
	    float: right;
	    margin-right: 0;
	    margin-top: 0;
	}
	.wpcf7-validation-errors, .wpcf7-mail-sent-ok {
	    margin-left: 0 !important;
	    margin-right: 0 !important;
	    margin-top: 100px !important;
	}
	/*sidebar*/
	.sidebar .owl-prev, .sidebar .owl-next {
	    display: none !important;
	}
	/*header*/
	.login {
		display: none;
	}
	.header-info {
	    width: 400px;
	}
	/*search*/
	.search-page article {
	    padding-right: 0;
	    width: 100%;
	}
	/*dung do tho*/
	.select-title {
	    width: 100%;
	    text-align: left;
	}
	.select-product-list .select-title {
	    margin-bottom: 7px;
	}
	#content {
	    margin: 10px 0;
	}
	.build-content form {
	    margin: auto;
	    width: 600px;
	}
	#content .btn-primary {
	    margin: 20px 0 0;
	    width: 100%;
	}
	/*ctsp*/
	.season .add-to-cart {
	    background-position: 35% center;
	}
}
@media screen and (min-width:768px) and (max-width:991px){
	/*product-list-detail-content*/
	.product-list-detail-content article {
	    width: 23%;
	}
	.product-list-detail-content article:nth-child(4n+1) {
	    clear: both;
	}
}
@media screen and (max-width:767px){/*col-xs*/
	.sidebar {
		display: none;
	}
	/*banner slide*/
	.banner-content {
	    left: 0;
	    top: 20%;
	    transform: inherit;
	    white-space: normal;
	    width: 100%;
	}
	.banner2 .banner-content {
	    top: 20%;
	}
	.banner2 .owl-nav {
	    display: none;
	}
	.banner-title {
	    font-size: 30px;
	}
	/*system*/
	.domain {
		text-align: center;
	    width: 100%;
	}
	.system-address, .system-address2 {
	    margin-top: 22px;
	    padding-left: 0;
	    text-align: center;
	    width: 100%;
	}
	.system-title a {
	    font-size: 28px;
	}
	/*footer*/
	.footer-info {
		text-align: center;
	    width: 100%;
	}
	.footer-menu {
		text-align: center;
		width: 100%;
	    float: left;
	    margin-top: 30px;
	}
	/*header*/
	.cskh {
		display: none;
	}
	.header-info {
	    width: 140px;
	}
	/*ctsp,cttin*/
	.product-detail-content, .news-detail-content {
	    width: 100%;
	}
	/*breadcrumb*/
	.breadcrumbs > span:nth-child(1)::after {
	    display: none;
	}
	.title a:nth-child(1)::after {
	    display: none;
	}
	.title a:nth-child(2) {
	    display: none;
	}
	/*checkout*/
	.formbox .form-group {
	    width: 100%;
	}
}
@media screen and (min-width:550px) and (max-width:767px){
	/*product-list-detail-content*/
	.product-list-detail-content article {
	    width: 31.3%;
	}
	.product-list-detail-content article:nth-child(3n+1) {
	    clear: both;
	}
}
@media screen and (max-width:650px){
	/*footer*/
	.socical {
	    text-align: center;
	    width: 100%;
	}
	.copyright {
	    margin-top: 10px;
	    text-align: center;
	    width: 100%;
	}
}
@media screen and (min-width:601px){
	/*dstin*/
	.news-list-content article:nth-child(3), .news-list-content article:nth-child(5) {
        margin-right: 0;
    }
    .news-list-content article:nth-child(4n+6) {
        clear: both;
        margin-left: 0;
    }
    .news-list-content article:nth-child(4n+9) {
        margin-right: 0;
    }
}
@media screen and (max-width:600px){
	/*ctsp*/
	.p-img {
	    width: 100%;
	}
	.p-detail-info {
	    margin-top: 30px;
	    padding-left: 0;
	    width: 100%;
	}
	/*dung do tho*/
	.build-content form, #danhmuc, #danhmuccon {
	    width: 400px;
	}
	.select2-container {
	    width: 400px !important;
	}
	.select2-container .select2-choice {
	    width: 400px;
	}
	/*ctsp*/
	.season .add-to-cart {
	    background-position: 40% center;
	}
}
@media screen and (min-width:480px) and (max-width:600px){
	/*dstin*/
	.news-list-content article {
	    margin: 0 1.5% 20px;
	    width: 31.3%;
	}
	.news-list-content article:nth-child(1) {
	    width: 100%;
	}
	.news-list-content article:nth-child(3n+2) {
	    margin-left: 0;
	    clear: both;
	}
	.news-list-content article:nth-child(3) {
	    margin: 0 1.5%;
	}
	.news-list-content article:nth-child(3n+4) {
	    margin-right: 0;
	}
}
@media screen and (max-width:549px){
	/*banner slide*/
	.banner-content {
	    display: none;
	}
	/*lien-he*/
	.form-info {
	    padding-right: 0;
	    width: 100%;
	}
	.form-contact {
	    width: 100%;
	}
}
@media screen and (min-width:400px) and (max-width:549px){
	/*product-list-detail-content*/
	.product-list-detail-content article {
	    width: 48%;
	}
	.product-list-detail-content article:nth-child(2n+1) {
	    clear: both;
	}
}
@media screen and (max-width:480px){
	.monye, .cskh, .money {
		display: none;
	}
	/*dstin*/
	.news-list-content article {
	    margin: 0 3% 20px;
	    width: 47%;
	}
	.news-list-content article:nth-child(1) {
	    width: 100%;
	}
	.news-list-content article:nth-child(2n) {
	    clear: both;
	    margin-left: 0;
	}
	.news-list-content article:nth-child(2n+1) {
	    margin-right: 0;
	}
}
@media screen and (max-width:480px){
	.product-list article, .product-related article {
		width: 100%;
	}
	/*.product-list figure, .product-related figure {
	    max-height: 100%;
	    max-width: 100%;
	}*/
	/*dung do tho*/
	.build-content form, #danhmuc, #danhmuccon {
	    width: 300px;
	}
	.select2-container {
	    width: 300px !important;
	}
	.select2-container .select2-choice {
	    width: 300px;
	}
}
@media screen and (max-width:399px){
	/*product-list-detail-content*/
	.product-list-detail-content article {
	    width: 100%;
	}
	/*ctsp*/
	.social-bar {
		float: left;
		width: 100%;
   		margin-top: 10px;
	}
	/*ctsp*/
	.season .add-to-cart {
	    background-position: 35% center;
	}
}
@media screen and (max-width:320px){
	/*dstin*/
	.news-list-content article figure img {
	    margin: auto;
	    text-align: center;
	}
	.news-list-content article {
	    margin: 0 auto 20px;
	    width: 100%;
	}
	.news-list-content article .n-title a {
	    text-align: center;
	}
	/*ctsp*/
	.season .add-to-cart {
	    background-position: 30% center;
	}
}